.h1 {
  font-size: 4.5rem;
  font-weight: 700;
  
}


@media (max-width: 1024px) {
  .h1 {
    font-size: 2.5rem;
  }
}


.h2 {
  font-weight: 700;
  font-size: 36px;
}

.h3 {
  font-size: 32px;
}

.h4 {
  font-size: 23px;
}

.h5 {
  font-size: 16px;
}

.p {
  font-size: 18px;
}

.span {
  font-size: 23px;
  font-weight: 700;
}

.bona {
  font-family: var(--font-bona);
}

/* .heebo {
  font-family: var(--font-heebo);
} */

.blue {
  color: var(--primary-blue);
}

.white {
  color: var(--white);
}

.gray {
  color: var(--gray);
}

.lightBlue {
  color: var(--light-blue);
}


/* // --primary-blue: #002651;
// --light-blue: #034077;
// --white: #FFFFFF;
// --gray: #DFDFDF; */