@tailwind base;
@tailwind components;
@tailwind utilities;


@import '@fontsource/heebo/100.css';
@import '@fontsource/heebo/200.css';
@import '@fontsource/heebo/300.css';
@import '@fontsource/heebo/400.css';
@import '@fontsource/heebo/500.css';
@import '@fontsource/heebo/600.css';
@import '@fontsource/heebo/700.css';
@import '@fontsource/heebo/800.css';
@import '@fontsource/heebo/900.css';

@import '@fontsource/bona-nova/400.css';
@import '@fontsource/bona-nova/700.css';


html {
  scroll-behavior: smooth;
  /* font-family: 'Bona Nova', sans-serif; */
  font-display: swap;
}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* למנוע סמן עכבר מהבהב */
  caret-color: transparent;
  /* pointer-events: none; */
  /* user-select: none; */
}


/* // vars */
:root {
  --primary-blue: #002651;
  --box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --light-blue: #034077;
  --white: #FFFFFF;
  --gray: #DFDFDF;
  --blue-gradient: linear-gradient(to right, rgba(6, 119, 221, 0.8), rgba(4, 81, 151, 0.8), rgba(3, 64, 119, 0.8));
  --txt-color : #262626;

}

body {
  direction: rtl;
  /* font-family: var(--font-heebo); */
  /* background-color: #000300; */
  background-color: cornsilk;
  /* background: linear-gradient(to right, rgba(11, 2, 57, 0.8), rgba(15, 2, 28, 0.94), rgba(6, 9, 47, 0.8)) */
  /* background:linear-gradient(to top right, #ff4694, #776fff); */
  /* background: linear-gradient(to top right, #ff4694, #222222, #776fff); */
  /* background: var(--blue-gradient); */


}
a{
  text-decoration: none;
  color: inherit;
}

label, input, select, button{
  font: inherit;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue);
}

/* ללא סמן מהבהב */
.no-caret {
  caret-color: transparent;
  user-select: none;
}

/* רק אינפוטים, טקסט אריות, ודומיהם יקבלו את הסמן */
input, textarea, [contenteditable="true"] {
  caret-color: auto;
}


.ql-editor {
  direction: rtl;
  text-align: right;
  max-width: 400px;
}

@media (max-width: 600px) {
  .ql-editor {
    max-width: 320px;
  }
}
