@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import '@fontsource/heebo/100.css';
@import '@fontsource/heebo/200.css';
@import '@fontsource/heebo/300.css';
@import '@fontsource/heebo/400.css';
@import '@fontsource/heebo/500.css';
@import '@fontsource/heebo/600.css';
@import '@fontsource/heebo/700.css';
@import '@fontsource/heebo/800.css';
@import '@fontsource/heebo/900.css'; */

/* @import '@fontsource/bona-nova/400.css';
@import '@fontsource/bona-nova/700.css'; */


/* בסגנון גלובלי - בדרך כלל בקובץ index.css או globals.css */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

/* // vars */
:root {
  --primary-blue: #002651;
  --box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --light-blue: #034077;
  --white: #FFFFFF;
  --gray: #DFDFDF;
  --blue-gradient: linear-gradient(to right, rgba(6, 119, 221, 0.8), rgba(4, 81, 151, 0.8), rgba(3, 64, 119, 0.8));
  --txt-color : #262626;
  --sm: 568px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1200px;
  --xxl: 1400px;
  --font-heebo: 'Heebo', sans-serif;
  --font-bona-nova: 'Bona Nova', serif;
  --font-roboto: 'Roboto', sans-serif;

}


html {
  scroll-behavior: smooth;
  font-family: 'Heebo', sans-serif;
  font-display: swap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* למנוע סמן עכבר מהבהב */
  caret-color: transparent;
  /* pointer-events: none; */
  /* user-select: none; */
}




body {
  direction: rtl;
  /* font-family: var(--font-roboto); */
  /* font-family: var(--font-bona-nova); */
  /* background-color: #000300; */
  background-color: cornsilk;
  background-color: rgba(247, 244, 233, 0.875);

  /* background-color: rgba(239, 239, 239, 0.59) */
  /* background: linear-gradient(to right, rgba(11, 2, 57, 0.8), rgba(15, 2, 28, 0.94), rgba(6, 9, 47, 0.8)) */
  /* background:linear-gradient(to top right, #ff4694, #776fff); */
  /* background: linear-gradient(to top right, #ff4694, #222222, #776fff); */
  /* background: var(--blue-gradient); */


}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label, input, select, button{
  font: inherit;
  cursor: pointer;

}


button{
  background: linear-gradient(to right, #0677dd, #045197, #034077);

}


/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue);
}

/* ללא סמן מהבהב */
.no-caret {
  caret-color: transparent;
  user-select: none;
}

/* רק אינפוטים, טקסט אריות, ודומיהם יקבלו את הסמן */
input, textarea, [contenteditable="true"] {
  caret-color: auto;
}

/* מסגרת כללית */
.quill{
  direction: rtl !important;
  /* border: solid 1px green !important; */

}

/* תיבת הטקסט */
.ql-container{
  padding: 10px;  
  /* border: solid 1px red !important */
}

.ql-editor{
  /* border: solid 1px yellow !important; */

  direction: rtl !important;
  text-align: right !important;
  padding: 5px;
  /* font-size: large; */
  
  /* color: #374151; */
}
 /* סמלי עריכה */
.ql-toolbar{
  background-color:  #e9ebee66;
  margin-bottom: 10px;

  /* color: #ffffff; */
}

.ql-toolbar:hover{
  background-color:  #e9ebee;
}

/* מסגרת כאשר אין הקלדה */
.ql-blank{
  border: solid 1px #e9ebee;
  /* background-color: #045197; */

}


.ql-snow{
  border: 2px solid #e5e7eb;
  border-radius: 0.5rem;


}


.blue-gradient {
  background: linear-gradient(to right, #0677dd, #045197, #034077);
}

/* @media (max-width: 600px) {
  .ql-editor {
    max-width: 320px;
  }
} */
